<form action="/coordinator/report" method="POST">
  <button
    type="submit"
    class="px-6 py-3 bg-red-600 text-white rounded-lg shadow hover:bg-red-700 w-full"
  >
    <%= __('addToReport') %>
  </button>
  <input type="hidden" name="id" value="<%= lecture.id %>" />
</form>
